*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
main{
    margin: auto;
    width: 100%;
    height: 100vh;
    padding: 1%;
    background: rgb(113, 113, 116);
}

section{
    gap:5%;
}

header{
    height: 15%;
    margin-bottom: 2%;
}
header input{
    height: 100%;
    width: 100%;
}

.buttons{
    height: 78%;
    display: flex;
    padding: 5%;
}

button{
    font-size: 3rem;
    border-radius: 50%;
    flex-grow: 1;
}

.numbers{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 75%;
}

.numbers button{
    width: 30%;
    background: rgb(23, 23, 24);
    color: white;
}

.numbers button:active,.operators button:active{
    transform: scale(0.8);
}

.operators{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.operators button{
    background: rgb(242, 163, 60);
    color: white;
}
.close_button{
    display: flex;
    background: red;
    margin-bottom: 1%;
}

@media (min-width: 481px) {
    button{
        border-radius: 20%;
        font-size: 5rem;
    }
    .numbers button:hover, .operators button:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    .numbers button:active,.operators button:active{
        transform: scale(0.7);
    }
}

@media (min-width: 1025px) {
    .numbers button:hover, .operators button:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    .numbers button:active,.operators button:active{
        transform: scale(0.9);
    }
    section, .buttons{
        gap:0%;
    }
    button{
        border-radius: 0%;
        font-size: 7rem;
    }
}